/* Fonts */
@font-face {
  font-family: "Acorn";
  src: url("Acorn.ttf") format("truetype");
}

@font-face {
  font-family: "GT Planar";
  src: url("GTPlanar.woff2") format("woff2");
}

#visual .image-container1 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* Set a specific height for the image container */
  height: 450px;
  width: 100%;
  overflow: hidden; /* Hide overflow content if the image exceeds the container height */
  gap: 10px;
  border-radius: 10px;
  img {
    object-fit: cover;
    border-radius: 10px;
  }
}

.image3 {
  max-width: 800px;
  width: 100%;
}

.image4 {
  width: 100%;
  max-width: 350px;
}

/* Styles for both #projects and #progress sections */
#projects,
#progress {
  padding-top: 0vh;
  margin-bottom: 20px; /* Adjust margin to create space between the sections */
}

#projects h1,
#progress h1 {
  font-family: "Acorn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* 'GT Planar', sans-serif !important; */
  color: #025a4e;
  font-size: 3rem;
  font-family: "Acorn";
  color: #025a4e;
  text-align: center;
  margin: 50px auto;
}

.work-text {
  font-family: "GT Planar", sans-serif;
  text-align: center;
  font-size: 20px;
  color: #025a4e;
  position: relative;
  text-align: center;
}
.image5,
.image5.bottom-star {
  width: 30px; /* Adjust the width to your desired size */
  height: 30px; /* Adjust the height to your desired size */
  opacity: 5;
}
.image5 {
  position: absolute;
  top: 50;
  right: 60%;
  left: 47.5%; /* Move the first star to the middle */
  transform: translateX(-230%); /* Adjust to center it properly */
}

.image5.bottom-star {
  position: absolute;
  bottom: 93px;
  left: 52%;
  right: 50%; /* Move the second star to the middle */
  transform: translateX(150%); /* Adjust to center it properly */
}

/* Add these styles to initially hide the star.svg images */
.image5,
.image5.bottom-star {
  height: 0; /* Set initial height to 0 to hide the stars */
  opacity: 0; /* Set initial opacity to 0 */
  transition: height 0.3s, opacity 0.3s; /* Add a smooth transition effect */
}

.work-text h2 {
  font-size: 4rem;
}
.work-text p {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 150%;
}
.title {
  font-family: "Acorn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  color: #025a4e;
  text-align: center;
}

.project-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.card-small {
  width: 400px;
  height: 550px;
  border-radius: 50px;
  background: #8fdcc2;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 50px;
  transition: all 0.3s ease;
}
.card-small:hover {
  scale: 1.01;
}
.card-small .project-img {
  position: absolute;
  right: -50px;
  bottom: -120px;
  transition: bottom 0.3s ease;
}
.card-small:hover .project-img {
  bottom: -100px;
}
.card-title {
  text-align: end;
  font-family: "Acorn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 24px;
  color: #025a4e;
}

.card-medium {
  width: 770px;
  height: 550px;
  border-radius: 50px;
  background: #c5abf5;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 50px;
  transition: all 0.3s ease;
}

.card-medium:hover {
  scale: 1.01;
}

.card-medium .project-img {
  position: absolute;
  right: -50px;
  bottom: -120px;
  transition: bottom 0.3s ease;
}

.card-medium:hover .project-img {
  bottom: -100px;
}

.card-large {
  margin: 0 auto;
  margin-top: 50px;
  height: 550px;
  border-radius: 50px;
  background: #e8b89c;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 50px;
  transition: all 0.3s ease;
  width: 50%;
  min-width: 360px;
}

.card-large:hover {
  scale: 1.01;
}

.card-large .project-img {
  position: absolute;
  right: -50px;
  bottom: -120px;
  transition: bottom 0.3s ease;
}

.card-large:hover .project-img {
  bottom: -100px;
}

/* progress-title */
.in-progress-sub-title {
  font-size: 20px;
  color: #025a4e;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 150%;
  text-align: center;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-links a {
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #ccc;
}

.menu-links a:last-child {
  border-bottom: none;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(6px, -6px);
}

.hamburger-icon:hover {
  transform: scale(1.1);
}
